.text-area {
    -fx-font-family: Arial;
    -fx-font-size: 12;
    -fx-text-fill: #000000;
}

.text-area .content {
    -fx-background-color: #ffffff;
}

.text-area .scroll-pane{

    -fx-vbar-policy:as-needed; /* Control the vertical ScrollBar (always,needed,never) */
    -fx-hbar-policy:as-needed; /* Control the horizontal ScrollBar (always,needed,never) */

}